<ion-view view-title="Invoice Calculator" ng-controller="InvoiceCtrl as invoice">
  <ion-content>
    <b>Invoice</b>

    <div class="list">
      <label class="item item-input">
        <input type="tel" placeholder="Quantity" ng-model="invoice.qty" />
      </label>
      <label class="item-input item">
        <input type="tel" placeholder="Cost" ng-model="invoice.cost" />
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Currency</div>
        <select ng-model="invoice.fromCurr">
          <option ng-repeat="c in invoice.currencies">{{ c }}</option>
        </select>
      </label>
    </div>
    <div>
      <b>Total: </b> <span ng-repeat="c in invoice.currencies">{{ invoice.total(c) | currency:c }}, </span>
    </div>
  </ion-content>
</ion-view>
